@model IEnumerable<shoppingCart.Models.Product.Product>

@{
    ViewBag.Title = "ShoppingCart";
}

<h2>ShoppingCart</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.ActionLink("購買", "Purchase", new { productId = item.ProductId }, htmlAttributes: new { @class = "btn btn-default" })
            <button class="RemoveFromShoppingCart btn btn-default" id="@item.ProductId">移出購物車</button>
        </td>
    </tr>
}

</table>

@Html.ActionLink("回首頁", "ProductList")
